<extend name="Common/default_layout"/>
<block name="title">
{$info.article_title}
</block>
<block name="style">
<style type="text/css">
.col-detail{
    margin: 0 auto;
    width: 75%
}
</style>
</block>

<block name="body">
<div class="row row-offcanvas row-offcanvas-right">
    <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Right nav</button>
    </p><!-- 移动模式显示右侧导航 -->

    <div class="col-detail">
        <div class="page-header">
            <h1>{$info.article_title} <small>{$info.category_name}</small></h1>
            <p class="text-right">{$info.subtitle}</p>
        </div>
      
        <p class="lead">{$info.article_content}</p>
        
        <if condition="$info['article_type'] eq 2">
            <p style="color: #777;">来源：{$info['article_source']}</p>
        </if>
    </div>

    
    <if condition="$site['basic']['site_is_comment'] eq 1">
    <div class="col-comment">
        <p class="comment-tit">
            <if condition="session('member.member_avatar') neq ''">
            <img class="comment-avatar img-circle" src="{:session('member.member_avatar')}">
            <else />
            游客：{:$_SERVER['REMOTE_ADDR']}
            </if>
        </p>
        <div>
            <textarea class="form-control" rows="3" placeholder="你的评论..."></textarea>
        </div>
        <p>
            <a class="btn btn-success">发送</a>
        </p>
    </div>
    </if>

</div><!--/row-->

</block>

<block name="script">
<script type="text/javascript">
var h = $(window).height();
$(".row-offcanvas").css({'min-height':(h-250)+'px'});
</script>
</block>